.player{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player .back{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    cursor: pointer;
}

.player iframe{
    border-radius: 10px;
}
.player-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.video-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-element {
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: contain;
}


