.hero{
    position: relative;
}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right,transparent,black 75%);
    -weblit-mask-image: linear-gradient(to right,transparent,black 75%);
}

.hero-caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}
.hero-caption img{
    width: 350px;
}

.caption img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}
/* .hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
} */

.hero-btns{
    display: flex;
    grid-area: 10px;
    margin-bottom: 50px;
    margin-top: 15px;
}

.hero-btns .btn img{
    width: 24px;   
}

.hero-btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

.hero-btns .btn.dark-btn{
    margin-left: 10px;
    color: #fff;
    background:#6d6d6eb3;
}
.hero-btns .btn:hover{
    background: #ffffffbf;
}
.hero-btns .btn.dark-btn:hover{
     background: #a0a0a166;
}

.more-cards{
    padding-left: 6%;
    
}